<table class="usa-table-borderless">
  <thead>
    <tr>
      <th scope="col">Term</th>
      <th scope="col">Definition</th>
    </tr>
  </thead>
  <tbody>
    {{#glossary}}
      <tr>
        <th scope="row">{{term}}</th>
        <td>{{definition}}</td>
      </tr>
    {{/glossary}}
  </tbody>
</table>
