<html>
<head>
  <title>standup-bot</title>
  <link rel="stylesheet" type="text/css" href="uswds/css/uswds.min.css">
</head>
<body>

  <div class="usa-grid">
    <div class="usa-accordion-bordered usa-grid-one-whole">
      <ul class="usa-unstyled-list">
        {{{.}}}
      </ul>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="uswds/js/uswds.min.js"></script>
</body>
</html>
