<html lang="en-US">
<head>
  <title>standup-bot</title>
  <link rel="stylesheet" type="text/css" href="uswds/css/uswds.min.css">
  <link rel="stylesheet" type="text/css" href="standup.css">

  <meta property="og:title" content="standup-bot documentation" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="{{baseURL}}/standup-bot.png" />
  <meta property="og:description" content="standup-bot documentation and API server" />
  <meta property="og:url" content="{{baseURL}}" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="standup-bot documentation" />
  <meta name="twitter:description" content="standup-bot documentation and API server" />
  <meta name="twitter:image" content="{{baseURL}}/standup-bot.png" />
</head>
<body>

  <h1 class="page-title">standup-bot</h1>

  <div class="usa-grid">
    {{{content}}}
  </div>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="uswds/js/uswds.min.js"></script>
</body>
</html>
