<html>
<head>
  <title>standup-bot</title>
  <link rel="stylesheet" type="text/css" href="uswds/css/uswds.min.css">
</head>
<body>

  <div class="usa-grid">
    <div class="usa-accordion-bordered usa-grid-one-whole">
      <ul class="usa-unstyled-list">
        <li>
          <button class="usa-button-unstyled" aria-expanded="false" aria-controls="collapsible-glossary">
            Glossary
          </button>
          <div id="collapsible-glossary" aria-hidden="true" class="usa-accordion-content">
            {{>glossary}}
          </div>
        </li>
      </ul>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="uswds/js/uswds.min.js"></script>
</body>
</html>
