<div class="usa-accordion-bordered usa-grid-one-whole">
  <ul class="usa-unstyled-list">
    <li>
      <a href="#{{name}}" class="doc-link" name="{{name}}">#</a>
      <button class="usa-button-unstyled" aria-expanded="true" aria-controls="collapsible-section-{{number}}">
         {{name}}
      </button>
      <div id="collapsible-section-{{number}}" aria-hidden="false" class="usa-accordion-content">
        {{{content}}}
      </div>
    </li>
  </ul>
</div>
